.first{
background-image: url(/wwr/images/raf5.jpg);
        color: white;
    padding: 25px;
    text-align: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    border: solid 3px #F18E0D;


}
nav img{
   
    color: white;
    padding: 25px;
    text-align: left;
    padding: 1%;
    float: left;
margin-top: 1.5%;
  
}
nav
{
    background-color: #64C1FF;
    color: white;
    padding: 25px;
    text-align: right;
    border:solid 3px #F18E0D;
    

}
article{
    text-align: center;
    font-style: italic;
margin-top: -40px;

}

section img{

text-align: center;
height: 700px;
border:solid 3px #F18E0D;
margin-top: 50px;

}

section {
text-align: center;

}
.Paragrath {
    text-align: center;
    background-color: #F18E0D;
    margin-left: 20%;
    margin-right: 20%;
    border: solid 3px #F18E0D;
    background-color: #09345D ;
    color: white;
}


footer {
    margin-top : 15px;
    border : #000 solid 1px;
    text-align : center;


    }

aside img{

    width : 500px;
    height : auto;
  margin: 100px;
margin-left: 700px;
border: solid 3px #F18E0D ;
}

.hero {
    background-color: #09345D;
    margin-top: -170px;
    border:solid 3px #F18E0D;
}

   
aside {
    width : 450px;
    margin : 300px;
    padding : 1px;
    background-color : #F18E0D;
    color :black;
    text-align : left;
    border: solid 3px white;
    box-shadow: #09345D;
    }

aside h2 {

    position: absolute;
    text-align: right;
}
p {
    padding : 0;
    }
.h2asi {
    text-align: right;
color: black;
    border-bottom: solid 3px #09345D;
    margin-left: 40px;

}

.asidep{

    margin-top: -400px;
}
