
*{
margin: 0;
padding: 0;

}


.CONTENEDOR{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-gap: 15px;
    background-color: aqua;

}

.CONTENEDOR .home{
    grid-column: 1/2;
    background-color: blue;
   


}


.CONTENEDOR .about{

    grid-column: 2/3;
    background-color: blue;
}
.CONTENEDOR .trips{
    grid-column: 3/4;
    background-color: blue;


}


.CONTENEDOR .contactus {
    grid-column: 4/5;
    background-color: blue;


}